<div class="container">
	<% if @orders.count > 0 %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Orden Nro</th>
				<th>Producto</th>
				<th>Valor</th>
				<th>Cantidad</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td> <%= order.id %> </td>
				<td> <%= order.product.name %> </td>
				<td> <%= order.price %></td>
				<td> <%= order.quantity %></td>
				<td> <%= order.price * order.quantity %> </td>
				
			</tr>
			<% end %>
			<tr class="table-dark">
				<td></td>
				<td></td>
				<td></td>
				<td><strong>Total de la compra:</strong></td>
				<td><strong><%= @total %></strong></td>
			</tr>
		</tbody>
	</table>

	
	<%= link_to  "Volver al Home", root_path, class:'btn btn-info' %>
	
	
	<% else %>
	<p>No tienes productos en tu carro de compra.</p>
	<% end %>
	
</div>
