<h1 class="text-center bold green-text">Listado de Productos</h1>
<div class="text-right">
	
	<% if user_signed_in? %>
		<% unless current_user.orders.sum('quantity').zero? %>
			<%= link_to carro_path, class:'btn btn-primary' do %>
			Ver Carro(<%= current_user.orders.sum('quantity') %>) <i class="oi oi-cart"></i>
			<% end %>
		<% end %>
	
		<% if current_user.admin? %>
			<%= link_to '<i class="oi oi-plus"></i> Agregar Producto'.html_safe, new_product_path, class:'btn btn-primary' %>
		<% end %>
	<% end %>
	
</div><br>
<div class="row">
	<% @products.each do |product| %>	
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
		<div class="card border-success white bottom-space sombra ">
			<header>			
				<h3 class="grey-text bold text-center card-header"><%= product.name %></h3>
			</header>
			
			<div class="p-3">  <!-- padding de bootstrap -->
				<section>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 inline-block no-padding text-center">
						<%= image_tag(product.image_url, :width => 200, :height => 200) if product.image.present? %>
					</div>
					
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-10 inline-block text-left">
						<br>
						<h3 class="green-text bold normal"> 
							Costo: 
							<span class="grey-text">
								<%= product.price %> Gs.
							</span>
						</h3>	
						
						<h3 class="green-text bold normal"> 
							Stock: <span class="grey-text"> <%= product.stock %></span>
						</h3>	
						
						<h3 class="green-text bold normal"> 
							Impuesto: <span class="grey-text"> <%= product.tax %> </span>
						</h3>	
						
						<p style="font-size: 12px;"> Cód. Interno: <%= product.code %></p>
					</div>
				</section>
				
				<div class="bold text-center">
					<br>
					
					<%= link_to 'Ver Detalle <i class="oi oi-spreadsheet"></i>'.html_safe, product_path(product), class:'btn btn-info' %> 
					<%= link_to 'Agregar al Carro <i class="oi oi-cart"></i>'.html_safe, product_ordenar_path(product), class:'btn btn-secondary' %>
				</div>
			</div>
		</div>
	</div>
	
	<% end %>
	
</div>


